.container {
  /* background-color: blue; */
  height: 100vh;
}

.splashMainDiv {
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.splashDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
