.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to right, #3d156b, #df3562, #feb97e);
}
.innerBox {
  position: relative;
  width: 80%;
  height: 520px;
  /* background: #f6fa06; */
  background: #fdf900;
  border-radius: 8px;
  overflow: hidden;
}
.innerBox::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 80%;
  height: 520px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #0aa6ee, #0aa6ee);
  animation: animate 6s linear infinite;
}
.innerBox::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 80%;
  height: 520px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #0aa6ee, #0aa6ee);
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.formBox {
  position: absolute;
  inset: 2px;
  background: #ffffff;
  padding: 5px 35px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.signupTitle {
  color: #341e73;
  font-weight: 50px;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0.1em;
}
.loginButton {
  background: #341e73 !important;
  cursor: pointer;
  color: #ffffff !important;
  width: 30%;
}
.loginButton:hover {
  border: 2px solid #45f3ff !important;
  background-color: #341e73 !important;
}
@media screen and (max-width: 1024px) {
  .innerBox {
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .formBox {
    height: 850px;
  }
  .user-image {
    visibility: hidden;
    display: none;
  }
}
